#list input {
  padding: 1em;
  margin-bottom: 1em;
}

.container {
  margin-top: 6em;
}

.someChecks {
  margin: auto;
  padding: 1.5px;
  align-self: center;
}

.killMe {
  display: block;
}

.someItems {
  font-size: 1em;
}
.checkbox {
  display: block;
  padding: 1.5em;
  margin: 1em;;
}
